<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mod.poppyPlaytime">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreenTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.mod.poppyPlaytime.card7.card72"></activity>
        <activity android:name="com.mod.poppyPlaytime.card7.card71" />
        <activity android:name="com.mod.poppyPlaytime.card6.card62" />
        <activity android:name="com.mod.poppyPlaytime.card6.card61" />
        <activity android:name="com.mod.poppyPlaytime.moreOption" />
        <activity android:name="com.mod.poppyPlaytime.card5.card5_1" />
        <activity android:name="com.mod.poppyPlaytime.card4.card4_2" />
        <activity android:name="com.mod.poppyPlaytime.card4.card4_1" />
        <activity android:name="com.mod.poppyPlaytime.card3.card3_2" />
        <activity android:name="com.mod.poppyPlaytime.card3.card3_1" />
        <activity android:name="com.mod.poppyPlaytime.card2.card2_2" />
        <activity android:name="com.mod.poppyPlaytime.card2.card2_1" />
        <activity android:name="com.mod.poppyPlaytime.card1.card1_2" />
        <activity android:name="com.mod.poppyPlaytime.card1.card1_1" />
        <activity android:name="com.mod.poppyPlaytime.splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mod.poppyPlaytime.MainActivity" />



    </application>

</manifest>